@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
}

.card-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: var(--dark-desaturated-blue);
  border-radius: 0.5rem;
  max-width: 1140px;
  max-height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7%;
}

.content-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 85%;
}

.card-title {
  color: var(--white);
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.card-title span {
  color: var(--soft-violet);
}

.card-text {
  color: var(--slightly-transparent-white);
  margin-bottom: 5rem;
  line-height: 1.5rem;
}

.card-stats {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
  font-weight: 400;
}

.stats-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-stats p {
  color: var(--slightly-transparent-white-h);
  font-family: "Lexend Deca", sans-serif;
  margin-top: 0.5rem;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.stats-block:last-of-type {
  text-transform: uppercase;
}

.card-img {
  background-color: hsl(286.39, 47.79%, 48.82%);
  position: relative;
}

img {
  height: 100%;
  width: 540px;
  mix-blend-mode: multiply;
}

.mobile-img {
  display: none;
}

.pink {
  background-color: var(--soft-violet);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
}

.rounded-right-corners {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.rounded-top-corners {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.attribution {
  font-size: 15px;
  text-align: center;
  color: var(--slightly-transparent-white);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 88%;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .card-content {
    order: 2;
    padding: 10%;
    align-items: center;
  }

  .content-block {
    width: 100%;
  }

  .card-title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .card-text {
    text-align: center;
    width: fit-content;
    margin-bottom: 1.5rem;
  }

  .card-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .stats-block {
    align-items: center;
  }
  .card-img {
    order: 1;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  .pink {
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
